.text-align-center {
    text-align: center;
}

.cdst--padding-1 {
    padding: 1rem;
}

.cdst--margin-auto {
    margin: auto;
}

.cdst--margin-right-1 {
    margin-right: 1rem;
}

.cdst--margin-top-4 {
    margin-top: 4rem;
}